.header{
    background: rgb(15, 103, 227);
    color:antiquewhite;
    padding: 1rem 0;
    width:100%;
    position: fixed;
    top:0;
    z-index:1000;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.header .container{
    max-width:1200px;
    margin:0 auto;
    padding:0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    justify-content: space-between; 
    gap:1000px;
}
.header .logo h2{
    font-size: 1.5rem;
    margin:0;
    padding:0;
    color:beige;
    align-items: left;
}
.header .nav{
    display: flex;
    gap: 2rem;
}
.header .nav a{
    color:beige;
    text-decoration: none;

}
.header:hover{
    color:cadetblue;
}